<!doctype html>
<html>
    <head>
            <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" ></script>
            <script src="{{ url_for('static', filename='js/validator.js') }}" ></script>
            <script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}" ></script>
            <script src="{{ url_for('static', filename='js/bootstrap.js') }}" ></script>
            <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}" ></script>
            <script src="{{ url_for('static', filename='js/request.js') }}" ></script>
            <script src="{{ url_for('static', filename='js/jquery.min.js') }}" ></script>
            <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    </head>
   <body>


<nav class="mb-1 navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="#"><strong>MY</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7"
      aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
      <ul class="navbar-nav mr-auto">
        
       
        <li class="nav-item active">
          <a class="nav-link" href={{ url_for('exchangePage') }} style="color:white">Exchange</a></a>
        </li>
                <li class="nav-item">
          <a class="nav-link" href={{ url_for('tradePage') }} style="color:white">Trade</a></a>
        </li>
           <li class="nav-item">
          <a class="nav-link" href={{ url_for('symbolPage') }} style="color:white">Symbol</a></a>
        </li>

        
      </ul>


    </div>
  </div>
</nav>

      
   <form class="well form-horizontal" action="http://localhost:5007/filtersymbol" 
  onsubmit="return validateForm()" method="post"  id="dataEntry" name="dataEntry">
    <fieldset>
    <!-- Form Name -->
    
        <legend><center><h2><b><br/>
         Symbol filter </b><hr/>
        </h2></center></legend><br>

  
    <!-- Text input-->
    <div class="row">




            <div class="col">
            <div class="form-group">
                <label class="col-md-12 control-label">symbol_id</label>  
                <div class="col-md-12 inputGroupContainer">
                <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input  name="symbol_id" id="symbol_id" placeholder="symbol_id" 
                class="form-control form-control-sm"  type="text" required>
                  </div>
                </div>
              </div>
              </div>
            <div class="col">

            </div>
           
           <div class="col">

            </div>

        </div>



        <div class="row">
          <div class="col">
          
              <div class="form-group">
      <label class="col-md-4 control-label"></label>
      <div class="col-md-4"><br>
          <input type="submit" value="Submit" class="btn btn-success btn-sm btn-block"/>
      </div>
    </div>

          </div>
          <div class="col"></div>
          <div class="col"></div>
        </div>

    <!-- Button -->

    </fieldset>
    </form>
      
      <table border="2" class="table table-striped .table-sm" >

        <thead>
          <tr>
            <th scope="col">Symbol_id</th>
            <th scope="col">Time_exchange</th>
            <th scope="col">Time_coinapi</th>
            <th scope="col">Uuid</th>
            <th scope="col">Price</th>
            <th scope="col">Size</th>
            <th scope="col">Taker_side</th>
          </tr>
        </thead>
        <tbody>
       {% if data %}
        {% for value in data %}
		          <tr>
		  {% for key in value %}

            <th scope="row">{{ value[key]}}</th>
    
		  {% endfor %}
		  </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
	  <!--{% if data %}
	  <p>{{data}}</p>
	  {% endif %}-->
	  
                
        

    </div>

   </body>
</html>