<html>
<head>

<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" ></script>
<script src="{{ url_for('static', filename='js/validator.js') }}" ></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}" ></script>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}" ></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}" ></script>
<script src="{{ url_for('static', filename='js/request.js') }}" ></script>
<script src="{{ url_for('static', filename='js/jquery.min.js') }}" ></script>

<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>

<body onload="myValColor()">

<nav class="mb-1 navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="#"><strong>MY</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7"
      aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
      <ul class="navbar-nav mr-auto">
        
       
        <li class="nav-item active">
          <a class="nav-link" href={{ url_for('exchangePage') }} style="color:white">Exchange</a></a>
        </li>
                <li class="nav-item">
          <a class="nav-link" href={{ url_for('tradePage') }} style="color:white">Trade</a></a>
        </li>
           <li class="nav-item">
          <a class="nav-link" href={{ url_for('symbolPage') }} style="color:white">Symbol</a></a>
        </li>

        
      </ul>


    </div>
  </div>
</nav>





<div class="container" style="width:70%">

  <form class="well form-horizontal" action="http://localhost:5007/tradeGetLetest" 
  onsubmit="return validateForm()" method="post"  id="dataEntry" name="dataEntry">
    <fieldset>
    <!-- Form Name -->
    
        <legend><center><h2><b><br/>
          GET LETES TRADE </b><hr/>
        </h2></center></legend><br>

    

    <!-- Text input-->
    <div class="row">


        <div class="col">
            
            </div>
           
           <div class="col">
            
            </div>


            <div class="col">

        </div>



        </div>

        <div class="row">
          <div class="col">
          
              <div class="form-group">
      <label class="col-md-4 control-label"></label>
      <div class="col-md-4"><br>
          <input type="submit" value="Submit" class="btn btn-success btn-sm btn-block"/>
      </div>
    </div>

          </div>
          <div class="col"></div>
          <div class="col"></div>
        </div>

    <!-- Button -->

    </fieldset>
    </form>
    <hr/>
  </div>



</body>
</html>